*{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Screenboard*/
.game-board{
  width: 100%;
  height: 300px;
  border-bottom: 15px solid rgb(35,160,35);
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

/*Hero*/
.mario {
  position: absolute;
  bottom: 0;
  width: 80px;
}

/*Enemies*/
.pipe{
  position: absolute;
  bottom: 0;
  width: 40px;
  /* left: 60px; */
  /* right: -40px; */
  animation: pipe-animation 2s infinite linear;
}

/*Controls*/
.button-moves {
  width: 35px;
  height: 35px;
  opacity: 0.3;
  position: absolute;
}

.button-up{
  top: 0px;
}

.button-down{
  top: 40px;
}

/*Animations*/
.clouds{
  position: absolute;
  width: 250px;
  animation: clouds-animation 15s infinite linear;
}

/*
.clouds-1{}
.clouds-2{
  animation: clouds-animation 30s infinite linear;
} */

.jump{
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation{
  from{
    right: -40px;
  }
  to{
    right: 100%;  
  }
}

@keyframes jump {
  0%{
    bottom: 0;
  }
  40%{
    bottom: 180px;
  }
  50%{
    bottom: 180px;
  }
  60%{
    bottom: 180px;
  }
  100%{
    bottom: 0;
  }
}

@keyframes clouds-animation{
  from{
    right: -250px;
  }
  to{
    right: 100%;
  }
}