*{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.display-none{
  display: none;
}

/*GAME BOARD*/
.game-board{
  position: relative;
  width: 100%;
  height: 300px;
  border-bottom: 15px solid rgb(35,160,35);
  margin: 0px auto;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.game-board .button-up{
  position: absolute;
  padding: 20px;
  top: 20px;
  left: 30px;
  opacity: 0.5;
}

/*PRESENTATION*/
.game-board .presentation{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

.game-board .presentation h4{
  font-weight: 900;
  text-decoration: underline;
  padding: 10px 0;
  cursor: pointer;
}

.game-board .presentation .game-logo{
  margin: 0px auto;
  width: 200px;
  height: 100px;
}

/*GAME OVER*/
.game-board .game-over{
  /* position: absolute; */
  padding-top: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #000;
}

.game-board .game-over h1{
  padding: 20px 0px;
  font-size: 3em;
  color: #fff;
}

.game-board .game-over .button-restart{
  padding: 15px;
  border-radius: 20px;
  margin: 0px auto;
  font-size: 2em;
  font-weight: bold;
}

/*Hero*/
.game-board .game .mario {
  position: absolute;
}

.game-board .game .walking{
  bottom: 0;
  width: 80px;
}

.game-board .game .lose{
  width: 40px;
  left: 20px;
  animation: none;
}

.game-board .game .celebrate{
  animation: none;
}

.jump{
  animation: jump 500ms ease-out;
}

/*Enemies*/
.game-board .game .pipe{
  animation: pipe-animation 2s infinite linear;
  position: absolute;
  bottom: 0;
  width: 40px;
}

/*Scenario*/
.game-board .game .clouds{
  position: absolute;
  width: 250px;
}

.game-board .game .clouds-1{
  animation: clouds-animation-1 15s infinite linear;
  top: 0px;
}

.game-board .game .clouds-2{
  animation: clouds-animation-2 20s infinite linear;
  transform: rotateY(180deg);
  top: 20px;
}

/*Animations*/
@keyframes pipe-animation{
  from{
    right: -40px;
  }
  to{
    right: 100%;  
  }
}

@keyframes jump {
  0%{
    bottom: 0;
  }
  40%{
    bottom: 180px;
  }
  50%{
    bottom: 180px;
  }
  60%{
    bottom: 180px;
  }
  100%{
    bottom: 0;
  }
}

@keyframes clouds-animation-1{
  from{
    right: -250px;
  }
  to{
    right: 100%;
  }
}

@keyframes clouds-animation-2{
  from{
    right: -450px;
  }
  to{
    right: 100%;
  }
}