*{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.display-none{
  display: none;
}

/*Screenboard*/
.game-board{
  width: 100%;
  height: 300px;
  border-bottom: 15px solid rgb(35,160,35);
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.game-board .presentation{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

.game-board .presentation .game-logo{
  margin: 0px auto;
  width: 200px;
  height: 100px;
}

/*Hero*/
.game-board .game .mario {
  position: absolute;
}

.game-board .game .walking{
  bottom: 0;
  width: 80px;
}

.game-board .game .lose{
  width: 40px;
  left: 20px;
  animation: none;
}

.game-board .game .celebrate{
  animation: none;
}

/*Controls*/
.button-moves {
  width: 35px;
  height: 35px;
  opacity: 0.3;
  position: absolute;
}

.button-up{
  display: none;
  top: 0px;
}

.button-down{
  display: none;
  top: 40px;
}

.jump{
  animation: jump 500ms ease-out;
}

/*Enemies*/
.game-board .game .pipe{
  animation: pipe-animation 2s infinite linear;
  position: absolute;
  bottom: 0;
  width: 40px;
}

/*Scenario*/
.game-board .game .clouds{
  position: absolute;
  width: 250px;
}

.game-board .game .clouds-1{
  animation: clouds-animation-1 15s infinite linear;
}

.game-board .game .clouds-2{
  animation: clouds-animation-2 20s infinite linear;
  transform: rotateY(180deg);
  top: 20px;
}

/*Animations*/
@keyframes pipe-animation{
  from{
    right: -40px;
  }
  to{
    right: 100%;  
  }
}

@keyframes jump {
  0%{
    bottom: 0;
  }
  40%{
    bottom: 180px;
  }
  50%{
    bottom: 180px;
  }
  60%{
    bottom: 180px;
  }
  100%{
    bottom: 0;
  }
}

@keyframes clouds-animation-1{
  from{
    right: -250px;
  }
  to{
    right: 100%;
  }
}

@keyframes clouds-animation-2{
  from{
    right: -450px;
  }
  to{
    right: 100%;
  }
}